/* Main CSS of zlliang.com */

/* Set up font smoothing, covering Bulma */
html {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

#site-brand {
  /* padding: 5px 10px;
  color: white;
  background-color: black; */
  font-weight: bold;
}


#index-news-more-button {
  text-decoration: underline;
}

#profile-picture {
  width: 128px;
  border-radius: 50%;
}

.column.has-text-vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pub-author {
  color: grey;
  font-style: italic;
}
.pub-author strong {
  color: inherit;
}

.pub-title {
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .pub-badge {
    margin-top: -1.2em;
  }
}
