---
import Section from "@zlliang/theme/components/Section.astro"
import SiteCard from "@zlliang/theme/components/SiteCard.astro"
---

<Section title="The other side of me">
  <SiteCard site="muse" locale="en" />
</Section>
