@import "@zlliang/theme/main.css";
@source "../../../../packages";

@theme {
  --color-primary-50: var(--color-hack-50);
  --color-primary-100: var(--color-hack-100);
  --color-primary-200: var(--color-hack-200);
  --color-primary-300: var(--color-hack-300);
  --color-primary-400: var(--color-hack-400);
  --color-primary-500: var(--color-hack-500);
  --color-primary-600: var(--color-hack-600);
  --color-primary-700: var(--color-hack-700);
  --color-primary-800: var(--color-hack-800);
  --color-primary-900: var(--color-hack-900);
  --color-primary-950: var(--color-hack-950);
}
