---
import { Image } from "astro:assets"

import Layout from "@/components/Layout.astro"
import Section from "@/components/Section.astro"
import Link from "@/components/Link.astro"
import WorldMap from "@/components/WorldMap.astro"

import { renderFragment } from "@/utils/content"

import logoTech from "@/assets/images/logo-tech.png"
import logoDays from "@/assets/images/logo-days.png"

const Bio = await renderFragment("bio-en")
---

<Layout lang="en">
  <div class="mb-12">
    <Bio />
  </div>

  <!-- Writing -->
  <Section title="Writing" class="mb-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <Link href="https://tech.zlliang.me" external={false} class="secondary flex gap-4 p-4 border border-neutral-200 dark:border-neutral-800 hover:border-tech-200 dark:hover:border-tech-800 hover:bg-tech-50 dark:hover:bg-tech-950 hover:text-tech-500!">
        <Image src={logoTech} alt="Logo of tech.zlliang.me" class="size-8" loading="eager" />
        <div class="flex-1">
          <div><span class="font-bold">Zilong's Tech Notes</span> (English)</div>
          <div class="text-sm opacity-60">tech.zlliang.me</div>
          <div class="mt-2 text-sm">My tech learning and research</div>
        </div>
      </Link>
      <Link href="https://days.zlliang.me" external={false} class="secondary flex gap-4 p-4 border border-neutral-200 dark:border-neutral-800 hover:border-days-200 dark:hover:border-days-800 hover:bg-days-50 dark:hover:bg-days-950 hover:text-days-500!">
        <Image src={logoDays} alt="Logo of days.zlliang.me" class="size-8" loading="eager" />
        <div class="flex-1">
          <div><span class="font-bold">Zilong's Days</span> (Chinese)</div>
          <div class="text-sm opacity-60">days.zlliang.me</div>
          <div class="mt-2 text-sm">My daily life and reflections</div>
        </div>
      </Link>
    </div>
  </Section>

  <!-- Where I've been -->
  <Section title="Where I've been">
    <WorldMap lang="en" />
  </Section>
</Layout>
