@import "@zlliang/theme/main.css";
@source "../../../../packages";

@theme {
  --color-primary-50: var(--color-www-50);
  --color-primary-100: var(--color-www-100);
  --color-primary-200: var(--color-www-200);
  --color-primary-300: var(--color-www-300);
  --color-primary-400: var(--color-www-400);
  --color-primary-500: var(--color-www-500);
  --color-primary-600: var(--color-www-600);
  --color-primary-700: var(--color-www-700);
  --color-primary-800: var(--color-www-800);
  --color-primary-900: var(--color-www-900);
  --color-primary-950: var(--color-www-950);
}
