---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import NoteList from "@/components/NoteList.astro"

import { notes, NOTES_PER_PAGE } from "@/utils/content"
import { createI18n } from "@/utils/i18n"

import type { GetStaticPaths } from "astro"

export const getStaticPaths = (({ paginate }) => paginate(notes, { pageSize: NOTES_PER_PAGE })) satisfies GetStaticPaths

const { page } = Astro.props

const t = createI18n("en")

const title = t("notes")
---

<Layout title={title} lang="en">
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">{t("notes.total", notes.length)}</span>
  </PageTitle>

  <!-- Notes -->
  {page.data.length > 0 ? <NoteList notes={page.data} page={page} lang="en" /> : <p class="text-neutral-500">{t("notes.notFound")}</p>}
</Layout>
  
