---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import NoteList from "@/components/NoteList.astro"

import { getNotes } from "@/content"

const notes = await getNotes()

const title = "Notes"
---

<Layout title={title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">{notes.length} in total</span>
  </PageTitle>

  <!-- Notes -->
  <NoteList notes={notes} />
</Layout>
