---
import { type GetStaticPaths, type InferGetStaticPropsType } from 'astro'
import { getCollection, render } from 'astro:content'
import { format } from 'date-fns'

import Layout from '@/layouts/Layout.astro'

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts')
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { post } = Astro.props
const { Content } = await render(post)
---

<Layout title={post.data.title}>
  <div class="mt-24 mb-12">
    <h1 class="text-3xl font-bold">{post.data.title}</h1>
    <div class="mt-1 text-slate-500">{format(post.data.created, 'yyyy 年 M 月 dd 日')}</div>
  </div>
  <Content />
</Layout>
