---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import PostList from "@/components/PostList.astro"

import { getPosts } from "@/content"

const posts = await getPosts()

const title = "Posts"
---

<Layout title={title}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">{posts.length} in total</span>
  </PageTitle>

  <!-- Posts -->
  {posts.length > 0 ? <PostList posts={posts} />: <p class="text-neutral-500">No posts found.</p>}
</Layout>
