---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import PostList from "@/components/PostList.astro"

import { posts } from "@/utils/content"
import { createI18n } from "@/utils/i18n"

const t = createI18n("en")

const title = t("posts")
---

<Layout title={title} lang="en">
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <span slot="subtitle">{t("posts.total", posts.length)}</span>
  </PageTitle>

  <!-- Posts -->
  {posts.length > 0 ? <PostList posts={posts} lang="en" /> : <p class="text-neutral-500">{t("posts.notFound")}</p>}
</Layout>
