---
import { getPosts } from '@/utils/posts'

import Layout from '@/layouts/Layout.astro'
import Title from '@/components/Title.astro'
import PostList from '@/components/PostList.astro'

const posts = await getPosts()

const title = '全部文章'
---

<Layout title={title}>
  <!-- Title -->
  <Title>
    <Fragment>{title}</Fragment>
    <Fragment slot="sub-title">共 {posts.length} 篇</Fragment>
  </Title>

  <!-- Posts -->
  <PostList posts={posts} />
</Layout>
