---
import { getPosts } from '@/utils/posts'

import Layout from '@/layouts/Layout.astro'
import PostList from '@/components/PostList.astro'

const posts = await getPosts()

const title = '全部文章'
---

<Layout title={title}>
  <div class="mt-24 mb-12">
    <h1 class="text-3xl font-bold">{title}</h1>
    <div class="mt-2 text-slate-500">
      共 {posts.length} 篇
    </div>
  </div>

  <!-- Posts -->
  <PostList posts={posts} />
</Layout>
