---
import Layout from "@/components/Layout.astro"
import SearchForm from "@/components/SearchForm.astro"
import NoteList from "@/components/NoteList.astro"

import { getNotes } from "@/utils/content"
import { NOTES_PER_PAGE } from "@/utils/site"

const notes = await getNotes()
const filteredNotes = notes.slice(0, NOTES_PER_PAGE)
---

<Layout>
  {/* Search form */}
  <SearchForm class="lg:hidden mb-6" />

  {/* Notes */}
  {notes.length > 0 ? <NoteList notes={filteredNotes} /> : <p class="text-neutral-500">暂无手记。</p>}
  {notes.length > NOTES_PER_PAGE && (
    <div class="flex justify-end mt-6 pt-6 border-t-2 border-neutral-200 dark:border-neutral-800 text-sm">
      <a href="/notes?page=2">更多手记 (共 {notes.length} 则) <span class="icon-[lucide--arrow-right] translate-y-px" /></a>
    </div>
  )}
</Layout>
