---
import Link from "@/components/Link.astro"
---

<footer class="mt-16 mb-8 text-xs text-neutral-400 dark:text-neutral-600">
  <div class="space-x-2">
    <Link href="https://xhslink.com/m/7jXHMqj1j6Q" class="icon-[simple-icons--xiaohongshu] secondary ml-1.5 scale-160!" />
    <Link href="https://space.bilibili.com/30470407" class="icon-[simple-icons--bilibili] secondary ml-1.5" />
  </div>
  <div class="mt-2">
    <Link href="https://creativecommons.org/licenses/by/4.0/" class="secondary">CC BY 4.0</Link>
    <span>2025–PRESENT</span>
    <span class="icon-[lucide--copyright] scale-90" />
    <Link href="https://zlliang.me/" class="secondary">梁子龙</Link>
    <span class="hidden sm:inline">
      <span class="icon-[lucide--dot]" />
      <span>使用 <Link href="https://astro.build" class="secondary">Astro</Link> 构建</span>
    </span>
  </div>
  <div class="mt-1 sm:hidden">
    <span>使用 <Link href="https://astro.build" class="secondary">Astro</Link> 构建</span>
  </div>
</footer>
