---
import { format } from "date-fns"

import Link from "@/components/Link.astro"

import { cn } from "@/utils/style"

import type { CollectionEntry } from "astro:content"

interface Props {
  posts: CollectionEntry<"posts">[]
}

const { posts } = Astro.props
---

<div class="@container">
  {posts.map((post, index) => (
    <div class={cn("@xl:flex justify-between items-start gap-4", index !== posts.length - 1 && "mb-1.5 pb-1.5 border-b border-neutral-200 dark:border-neutral-800")}>
      <Link href={`/posts/${post.id}`} class="block">{post.data.title}</Link>
      <span class="shrink-0 text-sm text-neutral-500 @xl:translate-y-0.5">
        <span>{format(post.data.created, "yyyy 年 M 月 d 日")}</span>
        {post.data.draft && <span class="ml-1 text-amber-600 dark:text-amber-400">草稿</span>}
      </span>
    </div>
  ))}
</div>
