---
import Link from "@/components/Link.astro"
---

<footer class="mt-16 mb-8 text-xs text-neutral-400 dark:text-neutral-600">
  <div class="space-x-2">
    <Link href="https://github.com/zlliang" class="icon-[simple-icons--github] secondary" />
    <Link href="https://x.com/zlliang96" class="icon-[simple-icons--x] secondary scale-90" />
  </div>
  <div class="mt-2">
    <Link href="https://creativecommons.org/licenses/by/4.0/" class="secondary">CC BY 4.0</Link>
    <span>2025–PRESENT</span>
    <span class="icon-[lucide--copyright] scale-90" />
    <Link href="https://zlliang.me/" class="secondary">Zilong Liang</Link>
    <span class="hidden sm:inline">
      <span class="icon-[lucide--dot]" />
      <span>Built with <Link href="https://astro.build" class="secondary">Astro</Link></span>
    </span>
  </div>
  <div class="mt-1 sm:hidden">
    <span>Built with <Link href="https://astro.build" class="secondary">Astro</Link></span>
  </div>
</footer>
