---
import { Image } from "astro:assets"

import Link from "@/components/Link.astro"

import { siteTitle } from "@/utils/site"

import logo from "@/assets/images/logo.png"
---

<header class="flex justify-between items-center h-16 mb-12">
  <div class="flex items-center gap-2">
    <Link href="/" class="nocolor flex items-center gap-2 font-display">
      <Image src={logo} alt="logo" class="size-6" loading="eager" />
      <strong>{siteTitle}</strong>
    </Link>
  </div>
  <div class="flex items-center gap-4">
    <Link href="https://zlliang.me" external={false}><span class="icon-[lucide--user]" /> About me</Link>
  </div>
</header>
