---
import { render } from "astro:content"
import { format } from "date-fns"

import PageTitle from "@zlliang/theme/components/PageTitle.astro"
import Link from "@zlliang/theme/components/Link.astro"

import { getSeriesById } from "@/utils/content"

import type { CollectionEntry } from "astro:content"

interface Props {
  post: CollectionEntry<"posts">
}

const { post } = Astro.props
const series = post.data.series ? await getSeriesById(post.data.series.id) : null
const { Content } = await render(post)
---

<div class="post-content">
  <!-- Title -->
  <PageTitle>
    <Fragment>{post.data.title}</Fragment>
    <div slot="subtitle">
      <span>{format(post.data.created, "PP")}</span>
      {post.data.pinned && <span class="icon-[lucide--pin]" />}
      {post.data.draft && <span class="ml-1 text-amber-600 dark:text-amber-400">Draft</span>}
      {series && <span class="ml-1">Part of the series: <Link href={`/posts/series/${series.id}`}>{series.data.title}</Link></span>}
    </div>
  </PageTitle>

  <!-- Content -->
  <div class="mb-4">
    <Content />
  </div>
</div>
