/* Root */

:root {
  @apply text-sm sm:text-base text-slate-900 antialiased;
}

::selection {
  @apply bg-sky-100;
}

body {
  @apply leading-normal;
}

/* Title */

h2, h3, h4, h5, h6 {
  @apply my-6 font-600;
}

h2 {
  @apply mt-10 text-2xl;
}

h3 {
  @apply mt-10 text-lg;
}

/* Content */

p {
  @apply my-6 leading-[1.8];
}

a {
  @apply text-sky-600 hover:text-sky-500 transition-color;
}

a.nocolor {
  @apply text-slate-900 hover:text-slate-900;
}

b, strong {
  @apply font-600;
}

blockquote {
  @apply pl-[calc(1.75rem-2px)] border-l-2 border-slate-200 text-slate-500;
}

ul, ol {
  @apply pl-7 leading-[1.8] marker:text-slate-500;
}

ul {
  @apply list-disc;
}

ul ul, ol ul {
  @apply list-circle;
}

ul ul ul, ol ul ul, ul ol ul, ol ol ul {
  @apply list-square;
}


ol {
  @apply list-decimal;
}

ol ol, ul ol {
  @apply list-roman;
}

ol ol ol, ul ol ol, ol ul ol, ul ul ol {
  @apply list-alpha;
}

hr {
  @apply relative my-8 h-auto border-slate-200 overflow-visible;
}

hr:before {
  content: "";
  @apply absolute top--3 left-0 right-0 mx-auto w-12 block h-6 bg-white;
}

hr:after {
  content: "";
  @apply i-lucide-waves absolute top--2.6 left-0 right-0 mx-auto block h-5 w-5 text-slate-300;
}

img {
  @apply mx-auto;
}

p > img {
  @apply w-auto sm:max-h-xl;
}

/* Code */

code {
  @apply px-[0.3em] border border-slate-200 text-sm;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  @apply text-[0.9em];
}

pre {
  @apply my-6 px-4 py-3 border border-slate-200 text-sm;
}

pre code {
  @apply p-0 border-none;
}

/* Table */

table {
  @apply border-collapse mx-auto;
}

tr {
  @apply border border-slate-200;
}

tr:nth-child(2n) {
  @apply bg-slate-50;
}

th, td {
  @apply px-3 py-1 border border-slate-200;
}

th {
  @apply bg-slate-100;
}

/* Image caption */

span.caption {
  @apply flex justify-center mt-1 text-sm text-slate-500;
}

/* Columns */

.cols {
  @apply sm:(grid gap-4 my--6); /* `my--6` is to delegate margins to inner paragraphs*/
}

.cols-1-2 {
  grid-template-columns: 1fr 2fr;
}

.cols-2-1 {
  grid-template-columns: 2fr 1fr;
}

/* Card (better not to write multiple paragraphs in a card) */

.card {
  @apply my-6 px-4 py-3 bg-slate-50 border border-slate-200 text-slate-600;
}

.card.caution {
  @apply bg-amber-50 border-amber-200 text-amber-600;
}

.card > *:first-child,
.card > *:first-child > *:first-child {
  @apply mt-0;
}

.card > *:last-child,
.card > *:last-child > *:last-child {
  @apply mb-0;
}

.card p {
  @apply my-3;
}

.card pre {
  @apply my-3;
}

/* Enter animation */
@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.slide-enter > * {
  --stagger: 0;
  --delay: 150ms;
  --start: 0ms;
  animation: slide-enter 1s both 1;
  animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}

.slide-enter > *:nth-child(1) { --stagger: 1; }
.slide-enter > *:nth-child(2) { --stagger: 2; }
.slide-enter > *:nth-child(3) { --stagger: 3; }
.slide-enter > *:nth-child(4) { --stagger: 4; }
.slide-enter > *:nth-child(5) { --stagger: 5; }
.slide-enter > *:nth-child(6) { --stagger: 6; }
.slide-enter > *:nth-child(7) { --stagger: 7; }
.slide-enter > *:nth-child(8) { --stagger: 8; }
.slide-enter > *:nth-child(9) { --stagger: 9; }
.slide-enter > *:nth-child(10) { --stagger: 10; }
.slide-enter > *:nth-child(11) { --stagger: 11; }
.slide-enter > *:nth-child(12) { --stagger: 12; }
.slide-enter > *:nth-child(13) { --stagger: 13; }
.slide-enter > *:nth-child(14) { --stagger: 14; }
.slide-enter > *:nth-child(15) { --stagger: 15; }
.slide-enter > *:nth-child(16) { --stagger: 16; }
.slide-enter > *:nth-child(17) { --stagger: 17; }
.slide-enter > *:nth-child(18) { --stagger: 18; }
.slide-enter > *:nth-child(19) { --stagger: 19; }
.slide-enter > *:nth-child(20) { --stagger: 20; }
.slide-enter > *:nth-child(21) { --stagger: 21; }
.slide-enter > *:nth-child(22) { --stagger: 22; }
.slide-enter > *:nth-child(23) { --stagger: 23; }
.slide-enter > *:nth-child(24) { --stagger: 24; }
.slide-enter > *:nth-child(25) { --stagger: 25; }
.slide-enter > *:nth-child(26) { --stagger: 26; }
.slide-enter > *:nth-child(27) { --stagger: 27; }
.slide-enter > *:nth-child(28) { --stagger: 28; }
.slide-enter > *:nth-child(29) { --stagger: 29; }
.slide-enter > *:nth-child(30) { --stagger: 30; }
