---
import { Image } from 'astro:assets'

import Layout from '@/layouts/Layout.astro'
import Tag from '@/components/Tag.astro'
import Link from '@/components/Link.astro'

import portrait from '@/assets/images/resume/portrait.jpg'
---

<Layout title="简历" class="print:max-w-none">
  <span slot="header-suffix"><Tag icon="i-lucide-file-text" color="stone">简历</Tag></span>
  <!-- Toolbar -->
  <div class="mb-8 px-4 py-3 bg-slate-50 border border-slate-200 text-slate-600 print-hidden">
    <div class="flex justify-between items-center text-sm">
      <div class="flex items-center">
        <div>中文</div>
        <div class="i-lucide-dot text-slate-500" />
        <div><Link href="/resume/en">English</Link></div>
        <div class="i-lucide-dot text-slate-500" />
        <div><Link href="/resume/jp">日本語</Link></div>
      </div>
      <div class="flex items-center gap-4">
        <Link href="/assets/resume/简历 - 梁子龙 - 中文.pdf" external><span class="i-lucide-download" /> PDF</Link>
        <Link href="https://www.linkedin.com/in/%E5%AD%90%E9%BE%8D-%E6%A2%81-383784200/"><span class="i-simple-icons-linkedin" /> LinkedIn</Link>
      </div>
    </div>
  </div>
  <!-- Resume -->
  <div class="mt-8 font-noto-serif-cn text-xs leading-normal subpixel-antialiased">
    <!-- Heading -->
    <div class="flex justify-between">
      <div class="flex-1">
        <div class="font-bold text-2xl">梁子龙</div>
        <div class="mt-2 sm:(flex gap-4) print:(flex gap-4)">
          <div>电话/微信：17717424164</div>
          <div>邮箱：<Link href="mailto:zlliang96@outlook.com" class="nocolor">zlliang96@outlook.com</Link></div>
          <div>GitHub：<Link href="https://github.com/zlliang" class="nocolor">@zlliang</Link></div>
        </div>
      </div>
      <Image src={portrait} alt="Portrait" class="w-20" />
    </div>
    <!-- Education -->
    <div class="section">
      <div class="section-title">教育经历</div>
      <div class="section-item">
        <div class="item-title">
          <div><strong>复旦大学 — 硕士</strong></div>
          <div class="item-time">2019/09 – 2022/06</div>
        </div>
        <div class="item-detail">
          <div>数学科学学院 / 计算数学专业</div>
        </div>
      </div>
      <div class="section-item">
        <div class="item-title">
          <div><strong>复旦大学 — 本科</strong></div>
          <div class="item-time">2015/09 – 2019/06</div>
        </div>
        <div class="item-detail">
          <div>数学科学学院 / 信息与计算科学专业</div>
        </div>
      </div>
    </div>
    <!-- Former jobs -->
    <div class="section">
      <div class="section-title">工作经历</div>
      <div class="section-item">
        <div class="item-title">
          <div><strong>字节跳动 — 抖音电商资深 Web 前端开发</strong>（上海格物致远网络科技有限公司）</div>
          <div class="item-time">2024/09 – 现在</div>
        </div>
        <div class="item-detail">
          <div><strong>关键词：</strong>React、TypeScript、低代码平台、产品设计、架构设计、产品运营、Node.js 服务端开发</div>
          <div><strong>职级：</strong>2-1</div>
          <div>任职于抖音电商前端技术部门，参与打造电商通用的低代码搭建平台</div>
          <div>负责低代码平台页面发布与运行时模块，熟悉低代码运行时架构、物料生态、页面投产链路等</div>
          <div>从内部创业阶段开始跟进产品迭代，有完整主导产品需求设计、技术方案设计、需求开发和功能运营等全链路产品迭代流程的经验</div>
          <div>研发工作覆盖前端页面与 Node.js 服务端开发，熟悉服务端开发、调试、上线与日志监控流程</div>
          <div><strong>重点项目 1：</strong>设计、落地与推广低代码页面发布流程，使得低代码 schema 发布与访问能够复用司内前端研发基建，支持多环境、内外网、灰度发布等自定义发布前后置检查等多项低代码研发能力，助力 10+ 电商业务实现页面研发提效</div>
          <div><strong>重点项目 2：</strong>设计、落地与推广低代码页面出码渲染模式，助力业务搭建页面运行时性能提升 40% 以上，同时提供性能分析工具，为搭建页面性能提供一站式分析与优化解决方案</div>
        </div>
      </div>
      <div class="section-item">
        <div class="item-title">
          <div><strong>腾讯 — 研发效能产品 Web 前端开发</strong>（腾讯科技（上海）有限公司）</div>
          <div class="item-time">2022/07 – 2024/09</div>
        </div>
        <div class="item-detail">
          <div><strong>关键词：</strong>Vue、TypeScript、研发效能、DevOps、Kubernetes、云原生</div>
          <div><strong>职级：</strong>两年内从 T5 晋升至 T7</div>
          <div>任职于腾讯技术工程事业群（TEG），参与打造公司级研发效能平台，支持司内 10,000+ 开发项目的 DevOps 需求</div>
          <div>重点负责 CI/CD 产品的 Web 前端开发，涵盖 CI 流水线、制品管理、多地域部署编排等多项现代 CI/CD 功能</div>
          <div>熟悉 Kubernetes 云原生部署等 DevOps 行业最新进展，熟悉 Web 微前端应用的研发、协作流程</div>
          <div><strong>重点项目 1：</strong>支持研发效能平台云原生部署能力新需求，提供多地域部署编排、自动化部署流水线等功能，助推腾讯会议、QQ 频道等司内重点业务接入，实现研发提效；优化持续部署功能交互，自动化构建、自动化部署效率持续提高，制品构建时间减少 80%，各环境部署手动操作时间减少 90%</div>
          <div><strong>重点项目 2：</strong>优化研发效能平台 CI/CD 前端模块架构与质量，实施性能优化与自动化测试，助力平台使用更便捷稳定；通过引入打包缓存、第三方依赖单独打包、模块联邦等机制，使得模块自身依赖打包速度提升约 70%；通过模块代码分割、依赖优化等方式，使得客户端渲染 LCP 等指标优化约 50%</div>
        </div>
      </div>
      <div class="section-item">
        <div class="item-title">
          <div><strong>哔哩哔哩 — 商业化技术 Web 前端开发（实习）</strong>（上海哔哩哔哩科技有限公司）</div>
          <div class="item-time">2020/11 – 2021/08</div>
        </div>
        <div class="item-detail">
          <div><strong>关键词：</strong>Vue、商业化、广告投放系统、DevOps</div>
          <div>参与开发大量 B 端商业化基础设施，如 CRM、广告投放系统、内容助推系统等，熟悉商业化相关业务流程</div>
          <div>参与开发各类商业化产品 C 端活动页可复用组件，为大型品牌营销项目提高效率、提供技术支持</div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section-title">个人技术项目</div>
      <div class="item-detail">
        <div>个人博客：<Link href="https://zlliang.me" class="nocolor">https://zlliang.me</Link>，也是我的技术实验田，曾使用 Hexo、Next.js、VitePress 等技术，当前版本使用 Astro 构建</div>
        <div>微信小程序开发：<Link href="https://github.com/zlliang/fdu-classrooms" class="nocolor">https://github.com/zlliang/fdu-classrooms</Link>，是读书时期的兴趣项目，当前已下线，让我获得了宝贵的小程序开发经验</div>
        <div>语言解释器开发：<Link href="https://github.com/zlliang/tslox" class="nocolor">https://github.com/zlliang/tslox</Link> 与 <Link href="https://github.com/zlliang/clox" class="nocolor">https://github.com/zlliang/clox</Link></div>
      </div>
    </div>
    <div class="section">
      <div class="section-title">技能</div>
      <div class="item-detail">
        <div>编程语言及工具：掌握 JavaScript/TypeScript、Python、Shell, 了解 SQL、Go、Rust 等</div>
        <div>前端技术栈：Node.js、ES6、React、Next.js、CSS-in-JS、Vue、Vite、Vitest、Cypress/Playwright、Webpack、ESLint 等</div>
        <div>DevOps 概念理解及实现能力：测试驱动开发、CI/CD、Docker、Kubernetes 等</div>
        <div>外语能力：英语 TOEFL 104、日语 JLPT N2</div>
      </div>
    </div>
  </div>
</Layout>

<style>
.section {
  @apply relative mt-5 pt-4 border-t border-slate-500;
}

.section-title {
  @apply absolute top--3.5 left-5 px-2 bg-white text-base font-bold;
}

.section-item:not(:last-child) {
  @apply mb-1;
}

.item-title {
  @apply sm:(flex justify-between gap-4) print:(flex justify-between gap-4) text-sm;
}

.item-time {
  @apply sm:shrink-0 print:shrink-0 text-xs sm:text-sm print:text-sm;
}

.item-detail > div {
  @apply pl-3;
}

.item-detail > div::before {
  content: '‣';
  @apply absolute left--0.4 font-bold;
}
</style>
