---
import Link from "@/components/Link.astro"

import { getLanguageEnglishDisplay } from "@/utils/content"

import type { CollectionEntry } from "astro:content"

interface Props {
  original: CollectionEntry<"posts">
}

const { original } = Astro.props
---

<p>
  <span class="icon-[lucide--languages] mr-1" />
  <span>Translated from the</span>
  <Link href={`/posts/${original.id}`}>original {getLanguageEnglishDisplay(original.data.lang)} post</Link>
  <span>with AI assistance and manual editing.</span>
</p>
