---
import Link from "@zlliang/theme/components/Link.astro"
import Layout from "@/components/Layout.astro"
import SearchForm from "@/components/SearchForm.astro"
import NoteList from "@/components/NoteList.astro"

import { notes } from "@/utils/content"
import { NOTES_PER_PAGE } from "@/utils/site"

export const prerender = true

const filteredNotes = notes.slice(0, NOTES_PER_PAGE)
---

<Layout>
  <!-- Search form -->
  <SearchForm class="lg:hidden mb-6" />

  <!-- Notes -->
  {notes.length > 0 ? <NoteList notes={filteredNotes} /> : <p class="text-neutral-500">No notes found.</p>}
  {notes.length > NOTES_PER_PAGE && (
    <div class="flex justify-end mt-6 pt-6 border-t-2 border-neutral-200 dark:border-neutral-800 text-sm">
      <Link href="/notes?page=2">More notes ({notes.length} total) <span class="icon-[lucide--arrow-right] translate-y-px" /></Link>
    </div>
  )}
</Layout>
