* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: var(--vp-c-orange-soft);
}

.dark ::selection {
  background-color: var(--vp-c-orange-soft);
}

.vp-doc,
.vp-doc blockquote > p {
  font-size: 14px;
}

@media (min-width: 768px) {
  .vp-doc,
  .vp-doc blockquote > p {
    font-size: 16px;
  }
  
  .vp-doc p,
  .vp-doc blockquote > p {
    line-height: 2;
  }
}

.vp-doc li + li,
.vp-doc li > p,
.vp-doc li > ol,
.vp-doc li > ul {
  margin: 0;
}

.vp-doc figcaption {
  font-size: 0.75em;
  color: var(--vp-c-text-2);
  line-height: 1.7;
}

.vp-doc :not(pre, a, h1, h2, h3, h4, h5, h6) > code {
  color: var(--vp-c-text-1);
}

.vp-doc h1 > .header-anchor {
  display: none;
}

/* Code copy button */
.vp-doc [class*="language-"] > button.copy.copied::before,
.vp-doc [class*="language-"] > button.copy:hover.copied::before {
  content: "已复制";
}

/* Utility classes */
.vp-doc .small-text {
  font-size: 0.875em;
}

.vp-doc .secondary-text {
  color: var(--vp-c-text-2);
}
