* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: var(--vp-c-orange-soft);
}

.dark ::selection {
  background-color: var(--vp-c-orange-soft);
}

.vp-doc li + li,
.vp-doc li > p,
.vp-doc li > ol,
.vp-doc li > ul {
  margin: 0;
}

.vp-doc figcaption {
  font-size: 0.75em;
  color: var(--vp-c-text-2);
  line-height: 1.8;
}

/* Code copy button */
.vp-doc [class*="language-"] > button.copy.copied::before,
.vp-doc [class*="language-"] > button.copy:hover.copied::before {
  content: "已复制";
}

.vp-doc h1 > .header-anchor {
  display: none;
}

/* Utility classes */
.vp-doc .small-text {
  font-size: 14px;
}

.vp-doc p.small-text {
  line-height: 1.75rem;
}

.vp-doc .secondary-text {
  color: var(--vp-c-text-2);
}
