/* Global */
body {
  line-height: 1.5;
}

::selection {
  background-color: var(--vp-c-blue-dimm-2);
}

:root.dark ::selection {
  background-color: var(--vp-c-blue-dimm-3);
}

/* Code copy button */
.vp-doc [class*="language-"] > button.copy.copied::before,
.vp-doc [class*="language-"] > button.copy:hover.copied::before {
  content: "已复制";
}

.vp-doc h1 > .header-anchor {
  display: none;
}

.vp-doc h1 > span.special {
  font-size: 1.5em;
  font-family: "YouRan", var(--vp-font-family-base);
}

.vp-doc a:hover {
  color: var(--vp-c-brand-dark);
  text-decoration: none;
}

/* Utility classes */
.vp-doc .small-text {
  font-size: 14px;
}

.vp-doc p.small-text {
  line-height: 24.5px; /* 1.75 */
}

.vp-doc .secondary-text {
  color: var(--vp-c-text-2);
}
