/**
 * Override the default theme
 * See: https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

:root {
  --vp-c-orange-1: #cc6419;
  --vp-c-orange-2: #e48643;
  --vp-c-orange-3: #f0ad65;
  --vp-c-orange-soft: rgba(204, 115, 25, 0.14);
}

.dark {
  --vp-c-orange-1: #ec9353;
  --vp-c-orange-2: #dd7c37;
  --vp-c-orange-3: #c46415;
  --vp-c-orange-soft: rgba(215, 96, 27, 0.16);
}

:root {
  --vp-c-brand-1: var(--vp-c-orange-1);
  --vp-c-brand-2: var(--vp-c-orange-2);
  --vp-c-brand-3: var(--vp-c-orange-3);
  --vp-c-brand-soft: var(--vp-c-orange-soft);
}

:root {
  --vp-sidebar-width: 320px;
}

/**
 * Special for this site
 */

 :root {
  --border-radius-large: 8px;
  
  --transition-timing: ease;
  --transition-duration: 0.25s;
}
