/**
 * Override the default theme
 * See: https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

:root {
  --vp-c-sky-1: #0ea5e9;
  --vp-c-sky-2: #0284c7;
  --vp-c-sky-3: #38bdf8;
  --vp-c-sky-soft: rgba(14, 165, 233, 0.15);
}

.dark {
  --vp-c-sky-1: #38bdf8;
  --vp-c-sky-2: #0ea5e9;
  --vp-c-sky-3: #0284c7;
  --vp-c-sky-soft: rgba(14, 165, 233, 0.15);
}

:root {
  --vp-c-brand-1: var(--vp-c-sky-1);
  --vp-c-brand-2: var(--vp-c-sky-2);
  --vp-c-brand-3: var(--vp-c-sky-3);
  --vp-c-brand-soft: var(--vp-c-sky-soft);
}

:root {
  --vp-sidebar-width: 320px;
  --vp-font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

/**
 * Special for this site
 */

 :root {
  --border-radius-large: 8px;
  
  --transition-timing: ease;
  --transition-duration: 0.25s;
}
