---
import Layout from "@/components/Layout.astro"
import PostList from "@/components/PostList.astro"
import Section from "@/components/Section.astro"
import Tag from "@/components/Tag.astro"

import { getPosts, renderFragment } from "@/content"

const Bio = await renderFragment("bio")
const posts = await getPosts()
---

<Layout>
  <div class="space-y-12">
    <!-- Bio -->
    <div>
      <Bio />
    </div>

    <!-- Special columns -->
    <Section title="Columns">
      <div class="my-1 space-x-2">
        <a href="/posts">
          <span class="i-lucide-file-pen-line" />
          <span>All posts</span>
        </a>
        <span class="text-neutral-500 dark:text-neutral-400">{posts.length} in total</span>
      </div>
    </Section>

    <!-- Posts -->
    <PostList posts={posts} />

    <!-- SNS -->
    <Section title="Find me at" class="inline-flex flex-wrap gap-2">
      <Tag href="https://github.com/zlliang" icon="i-simple-icons-github">GitHub</Tag>
      <Tag href="https://x.com/zlliang96" icon="i-simple-icons-x">X (formerly Twitter)</Tag>
      <!-- <Tag href="https://space.bilibili.com/30470407" icon="i-simple-icons-bilibili">哔哩哔哩</Tag>
      <Tag href="https://www.xiaohongshu.com/user/profile/635e1b13000000001901eabc" icon="i-simple-icons-xiaohongshu">小红书</Tag>
      <Tag href="https://www.douban.com/people/zlliang96/" icon="i-simple-icons-douban">豆瓣</Tag> -->
    </Section>
  </div>
</Layout>
