---
import { getPosts } from '@/utils/posts'

import Layout from '@/layouts/Layout.astro'
import ImageSlide from '@/components/ImageSlide.astro'

import LinkTag from '@/components/LinkTag.astro'
import { Content as Bio } from '@/fragments/bio.md'

import welcome from '@/assets/images/welcome.gif'
import PostList from '@/components/PostList.astro'

const posts = await getPosts()
---

<Layout>
	<div class="space-y-16">
		<!-- Welcome -->
		<img src={welcome.src} alt="Welcome" width="140" class="mt-8" />

		<!-- Profile -->
		<div class="card">
			<Bio />
			<ImageSlide />
		</div>
		
		<!-- Posts -->
		<PostList posts={posts} />

		<!-- SNS -->
		<div>
			<div class="pb-1 mb-2 border-b border-slate-200 text-slate-500 text-sm">我的社交媒体</div>
			<div class="inline-flex flex-wrap gap-2">
				<LinkTag href="https://github.com/zlliang" icon="i-simple-icons-github">GitHub</LinkTag>
				<LinkTag href="https://space.bilibili.com/30470407" icon="i-simple-icons-bilibili">哔哩哔哩</LinkTag>
				<LinkTag href="https://www.xiaohongshu.com/user/profile/635e1b13000000001901eabc" icon="i-simple-icons-xiaohongshu">小红书</LinkTag>
				<LinkTag href="https://www.douban.com/people/zlliang96/" icon="i-simple-icons-douban">豆瓣</LinkTag>
			</div>
		</div>
	</div>
</Layout>
