---
import { getPosts } from '@/utils/posts'

import Layout from '@/layouts/Layout.astro'
import ImageSlide from '@/components/ImageSlide.astro'
import PostList from '@/components/PostList.astro'
import Section from '@/components/Section.astro'
import Tag from '@/components/Tag.astro'
import { Content as Bio } from '@/fragments/bio.md'

import welcome from '@/assets/images/welcome.gif'

const posts = await getPosts()
---

<Layout>
	<div class="space-y-16">
		<!-- Welcome -->
		<img src={welcome.src} alt="Welcome" width="140" class="mt-8" />

		<!-- Profile -->
		<div class="card">
			<Bio />
			<ImageSlide />
		</div>

		<!-- Special columns -->
		<Section title="栏目">
			<div class="my-1 space-x-2">
				<a href="/posts">
					<span class="i-lucide-file-pen-line" />
					<span>全部文章</span>
				</a>
				<span class="text-slate-500">共 {posts.length} 篇</span>
			</div>
			<div class="my-1 space-x-2">
				<a href="/meals">
					<span class="i-lucide-beer" />
					<span>一日三餐</span>
				</a>
				<span class="text-slate-500">认真吃饭的每一天</span>
			</div>
		</Section>
		
		<!-- Posts -->
		<PostList posts={posts} />

		<!-- SNS -->
		<Section title="我的社交媒体" class="inline-flex flex-wrap gap-2">
			<Tag href="https://github.com/zlliang" icon="i-simple-icons-github">GitHub</Tag>
			<Tag href="https://space.bilibili.com/30470407" icon="i-simple-icons-bilibili">哔哩哔哩</Tag>
			<Tag href="https://www.xiaohongshu.com/user/profile/635e1b13000000001901eabc" icon="i-simple-icons-xiaohongshu">小红书</Tag>
			<Tag href="https://www.douban.com/people/zlliang96/" icon="i-simple-icons-douban">豆瓣</Tag>
		</Section>
	</div>
</Layout>
