---
import Layout from "@/components/Layout.astro"
import NoteList from "@/components/NoteList.astro"
import Aside from "@/components/Aside.astro"

import { notes, renderFragment } from "@/utils/content"

const Bio = await renderFragment("bio")
---

<Layout description="Personal website of Zilong Liang">
  <!-- Bio -->
  <div class="mb-16">
    <Bio />
  </div>

  <!-- Notes -->
  <NoteList notes={notes} />

  <!-- Aside -->
  <Aside slot="aside" />
</Layout>
