---
import { getCollection } from 'astro:content'
import { groupBy } from 'lodash-es'
import { getYear, format } from 'date-fns'

import Layout from '@/layouts/Layout.astro'
import ImageSlide from '@/components/ImageSlide.astro'

import welcome from '@/assets/images/welcome.gif'

const posts = await getCollection('posts')
const grouped = Object.entries(groupBy(posts, (post) => getYear(post.data.created)))
	.map(([year, posts]) => ({ year, posts: posts.toSorted((a, b) => b.data.created.valueOf() - a.data.created.valueOf()) }))
	.toSorted((a, b) => Number(b.year) - Number(a.year))
---

<Layout>
	<!-- Welcome -->
	<div class="flex flex-col items-center gap-4 my-16">
		<img src={welcome.src} alt="Welcome" width="140" />
	</div>

	<!-- Profile -->
	<div class="mb-16 py-4 space-y-4 bg-slate-50 border border-slate-200">
		<div class="leading-8 px-4">
			欢迎你！我是<strong>子龙</strong>，毕业于<a href="https://www.fudan.edu.cn/">复旦大学</a>数学专业，目前在<a href="https://bytedance.com">字节跳动</a>做 <a href="https://roadmap.sh/frontend">Web 前端开发</a>工作；同时，我也是<a href="https://baike.baidu.com/item/%E4%B8%8A%E6%B5%B7%E5%BD%A9%E8%99%B9%E5%AE%A4%E5%86%85%E5%90%88%E5%94%B1%E5%9B%A2">上海彩虹室内合唱团</a>男高声部的成员。这里是我的笔记本，我会写一些<strong>成长故事</strong>、<strong>生活感悟</strong>和<strong>技术收获</strong>，希望你喜欢！🎉
		</div>
		<ImageSlide />
	</div>
	
	<!-- Posts -->
	{grouped.map(({ year, posts }) => (
		<div class="my-8">
			<div class="pb-1 mb-2 border-b border-slate-200 text-slate-500 text-sm">{year}</div>
			<div>
				{posts.map((post) => (
					<div class="my-2 flex justify-between gap-4">
						<a href={`/posts/${post.id}`}>{post.data.title}</a>
						<span class="shrink-0 w-fit text-slate-500">{format(post.data.created, 'M 月 d 日')}</span>
					</div>
				))}
			</div>
		</div>
	))}
</Layout>
