---
import Layout from "@/components/Layout.astro"
import EntryList from "@/components/EntryList.astro"
import Section from "@/components/Section.astro"

import { getEntries, getTags, renderFragment } from "@/content"

const Bio = await renderFragment("bio")
const entries = await getEntries()

const posts = entries.filter(entry => entry.data.type === "post")
const notes = entries.filter(entry => entry.data.type === "note")
const tags = getTags(entries)
---

<Layout>
  <div class="mb-12">
    <Bio />
  </div>

  <div class="mb-2 space-x-2">
    <a href="/blog/posts">
      <span class="i-lucide-file-pen" />
      <span>Posts</span>
    </a>
    <span class="text-neutral-500 dark:text-neutral-400">{posts.length} in total</span>
  </div>
  <div class="mb-2 space-x-2">
    <a href="/blog/notes">
      <span class="i-lucide-notebook-pen" />
      <span>Notes</span>
    </a>
    <span class="text-neutral-500 dark:text-neutral-400">{notes.length} in total</span>
  </div>
  <div class="mb-2 space-x-2">
    <a href="/blog/tags">
      <span class="i-lucide-tag" />
      <span>Tags</span>
    </a>
    <span class="text-neutral-500 dark:text-neutral-400">{tags.length} in total</span>
  </div>

  <div class="my-6 border-b-2 border-neutral-200 dark:border-neutral-700" />

  <EntryList entries={entries} />
</Layout>
