---
import { Image } from "astro:assets"

import Section from "@zlliang/theme/components/Section.astro"
import Layout from "@/components/Layout.astro"

import { renderFragment } from "@/utils/content"

import logoHack from "@/assets/images/logo-hack.png"
import logoMuse from "@/assets/images/logo-muse.png"

const Bio = await renderFragment("bio-zh")
---

<Layout lang="zh">
  <div class="mb-12">
    <Bio />
  </div>

  {/* Writing */}
  <Section title="写作">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <a href="https://hack.zlliang.me" class="secondary group flex gap-4 p-4 border border-neutral-200 dark:border-neutral-800 hover:border-hack-400 dark:hover:border-hack-600 hover:bg-hack-50 dark:hover:bg-hack-950 hover:text-hack-500!">
        <Image src={logoHack} alt="hack.zlliang.me 的图标" class="size-8" loading="eager" />
        <div class="flex-1">
          <div class="font-bold">技术手记</div>
          <div class="text-sm text-neutral-500 group-hover:text-hack-400 dark:group-hover:text-hack-600">hack.zlliang.me</div>
          <div class="mt-2 text-sm">在这个每天都在变的技术世界里，看得更清楚一点。</div>
        </div>
      </a>
      <a href="https://muse.zlliang.me" class="secondary group flex gap-4 p-4 border border-neutral-200 dark:border-neutral-800 hover:border-muse-400 dark:hover:border-muse-600 hover:bg-muse-50 dark:hover:bg-muse-950 hover:text-muse-500!">
        <Image src={logoMuse} alt="muse.zlliang.me 的图标" class="size-8" loading="eager" />
        <div class="flex-1">
          <div class="font-bold">随想手记</div>
          <div class="text-sm text-neutral-500 group-hover:text-muse-400 dark:group-hover:text-muse-600">muse.zlliang.me</div>
          <div class="mt-2 text-sm">慢慢记下一些小事和随想，还有那些停留更久的念头。</div>
        </div>
      </a>
    </div>
  </Section>
</Layout>
