@import "tailwindcss";
@plugin "@iconify/tailwind4";

/* Theme variables */

@theme {
  --color-www-50: var(--color-cyan-50);
  --color-www-100: var(--color-cyan-100);
  --color-www-200: var(--color-cyan-200);
  --color-www-300: var(--color-cyan-300);
  --color-www-400: var(--color-cyan-400);
  --color-www-500: var(--color-cyan-500);
  --color-www-600: var(--color-cyan-600);
  --color-www-700: var(--color-cyan-700);
  --color-www-800: var(--color-cyan-800);
  --color-www-900: var(--color-cyan-900);
  --color-www-950: var(--color-cyan-950);

  --color-tech-50: var(--color-blue-50);
  --color-tech-100: var(--color-blue-100);
  --color-tech-200: var(--color-blue-200);
  --color-tech-300: var(--color-blue-300);
  --color-tech-400: var(--color-blue-400);
  --color-tech-500: var(--color-blue-500);
  --color-tech-600: var(--color-blue-600);
  --color-tech-700: var(--color-blue-700);
  --color-tech-800: var(--color-blue-800);
  --color-tech-900: var(--color-blue-900);
  --color-tech-950: var(--color-blue-950);

  --color-days-50: var(--color-indigo-50);
  --color-days-100: var(--color-indigo-100);
  --color-days-200: var(--color-indigo-200);
  --color-days-300: var(--color-indigo-300);
  --color-days-400: var(--color-indigo-400);
  --color-days-500: var(--color-indigo-500);
  --color-days-600: var(--color-indigo-600);
  --color-days-700: var(--color-indigo-700);
  --color-days-800: var(--color-indigo-800);
  --color-days-900: var(--color-indigo-900);
  --color-days-950: var(--color-indigo-950);

  --color-primary-50: var(--color-tech-50);
  --color-primary-100: var(--color-tech-100);
  --color-primary-200: var(--color-tech-200);
  --color-primary-300: var(--color-tech-300);
  --color-primary-400: var(--color-tech-400);
  --color-primary-500: var(--color-tech-500);
  --color-primary-600: var(--color-tech-600);
  --color-primary-700: var(--color-tech-700);
  --color-primary-800: var(--color-tech-800);
  --color-primary-900: var(--color-tech-900);
  --color-primary-950: var(--color-tech-950);
}

/* Root */

:root {
  @apply text-sm sm:text-base;
}

::selection {
  @apply bg-primary-100 dark:bg-primary-900;
}

body {
  @apply bg-white dark:bg-neutral-950 text-neutral-900 dark:text-neutral-100 leading-normal;
}

[lang="zh"] body {
  @apply leading-[1.6];
}

/* Fonts */

@theme {
  --font-sans: "Public Sans Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Public Sans Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Roboto Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Icons */

[class*="icon-"] {
  @apply inline-block size-[1.2em] align-text-bottom scale-95;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  @apply font-display font-bold;
}

h2, h3, h4, h5, h6 {
  @apply my-4;
}

h2 {
  @apply mt-8 text-2xl;
}

h3 {
  @apply mt-8 text-lg;
}

/* Contents */

main > *:last-child {
  @apply mb-0;
}

p {
  @apply mb-4 leading-[1.7];
}

[lang="zh"] p {
  @apply leading-[1.8];
}

a {
  @apply text-primary-600 dark:text-primary-400 hover:text-primary-500;
}

a.nocolor {
  @apply text-inherit dark:text-inherit hover:text-inherit dark:hover:text-inherit;
}

a.secondary {
  @apply text-inherit dark:text-inherit hover:text-primary-500;
}

b, strong {
  @apply font-bold;
}

blockquote {
  @apply pl-6.5 border-l-2 border-neutral-200 dark:border-neutral-800 text-neutral-500;
}

ul, ol {
  @apply mb-4 pl-7 leading-[1.7] marker:text-neutral-500;
}

[lang="zh"] ul, [lang="zh"] ol {
  @apply mb-4 pl-7 leading-[1.7] marker:text-neutral-500;
}

ul {
  @apply list-disc;
}

ul ul, ol ul {
  @apply mb-0 list-[circle];
}

ul ul ul, ol ul ul, ul ol ul, ol ol ul {
  @apply mb-0 list-[square];
}

ol {
  @apply list-decimal;
}

ol ol, ul ol {
  @apply mb-0 list-[lower-roman];
}

ol ol ol, ul ol ol, ol ul ol, ul ul ol {
  @apply mb-0 list-[lower-alpha];
}

ul.contains-task-list {
  @apply pl-3 list-none;
}

hr {
  @apply relative my-6 h-auto border-neutral-200 dark:border-neutral-800 overflow-visible;
}

hr:before {
  content: "";
  @apply absolute -top-3 left-0 right-0 mx-auto w-12 block h-6 bg-white dark:bg-neutral-950;
}

hr:after {
  content: "";
  @apply icon-[lucide--waves] absolute -top-[0.65rem] left-0 right-0 mx-auto block h-5 w-5 text-neutral-200 dark:text-neutral-800;
}

img {
  @apply mx-auto;
}

p > img {
  @apply max-h-120 object-contain;
}

/* Codes */

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--color-neutral-950) !important; /* In place of --shiki-dark-bg */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

code {
  @apply px-[0.3em] border border-neutral-200 dark:border-neutral-800 text-sm;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  @apply text-[0.9em];
}

pre {
  @apply mb-4 px-4 py-3 border border-neutral-200 dark:border-neutral-800 text-sm;
}

pre code {
  @apply p-0 border-none;
}

/* Tables */

table {
  @apply mb-4 mx-auto w-full border-collapse;
}

th {
  @apply text-left;
}

tr {
  @apply border border-neutral-200 dark:border-neutral-800;
}

tr:nth-child(2n) {
  @apply bg-neutral-50 dark:bg-neutral-900;
}

th, td {
  @apply px-3 py-1 border border-neutral-200 dark:border-neutral-700;
}

th {
  @apply bg-neutral-100 dark:bg-neutral-800;
}

/* Image captions */

span.caption {
  @apply flex justify-center mt-1 text-sm text-neutral-500;
}

/* Footnotes */

.footnotes {
  @apply text-sm;
}

.footnotes p {
  @apply mb-0;
}

#footnote-label {
  @apply mb-4 w-16 border-b border-neutral-200 dark:border-neutral-800;
}

.post-content #footnote-label {
  @apply mt-16;
}

[data-footnote-ref] {
  @apply tabular-nums;
}

/* Card */

.card {
  @apply mb-4 px-4 py-3 bg-neutral-50 dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-800 text-neutral-600 dark:text-neutral-400;
}

.card.amber {
  @apply border-amber-200 dark:border-amber-800 bg-amber-50 dark:bg-amber-950 text-amber-600 dark:text-amber-400;
}

.card > *:last-child,
.card > *:last-child > *:last-child {
  @apply mb-0;
}

/* Image grid */

.image-grid {
  @apply mb-4 grid grid-cols-2 gap-4;
}

.image-grid p {
  @apply mb-0;
}
