---
import { format } from "date-fns"

import Section from "@zlliang/theme/components/Section.astro"
import Pagination from "@zlliang/theme/components/Pagination.astro"
import NoteContent from "@/components/NoteContent.astro"

import { cn } from "@zlliang/theme"
import { groupNotesByDate } from "@/utils/content"
import { getDayNotesPath } from "@/utils/archive"

import type { CollectionEntry } from "astro:content"
import type { PaginationData } from "@/utils/pagination"

interface Props {
  notes: CollectionEntry<"notes">[]
  pagination?: PaginationData<CollectionEntry<"notes">>
}

const { notes, pagination } = Astro.props
const grouped = await groupNotesByDate(notes)
---

<div class="space-y-6">
  {grouped.map(({ date, notes }) => (
    <Section>
      <a slot="title" href={getDayNotesPath(date)} class="nocolor">{format(date, "PP")}</a>
      {notes.map((note, index) => (
        <div class={cn(index !== notes.length - 1 && "mb-6 pb-6 border-b-2 border-neutral-200 dark:border-neutral-800")}>
          <NoteContent note={note} />
        </div>
      ))}
    </Section>
  ))}
  {Boolean(pagination) && (
    <div class="pt-6 border-t-2 border-neutral-200 dark:border-neutral-800">
      <Pagination {...pagination!} />
    </div>
  )}
</div>
