---
interface Props {
  class?: string
}

const { class: classNames } = Astro.props
---

<span class:list={['inline-block px-1 py-0.5 border border-slate-200 text-xs text-slate-500 translate-y-[-1px]', classNames]}>
  <span class="i-lucide-file-pen" />
  <span>草稿</span>
</span>
