---
interface Props {
  href: string
  class?: string
}

const { href, class: classNames } = Astro.props
---

<a href={href} target="_blank" rel="nofollow noopener noreferrer" class={classNames}><slot /></a>
