---
import Link from "@/components/Link.astro"
---

<footer class="mt-32 mb-8 text-sm text-center text-neutral-400 dark:text-neutral-500">
  <div class="space-x-2">
    <Link href="https://github.com/zlliang" class="i-simple-icons-github secondary"></Link>
    <Link href="https://x.com/zlliang96" class="i-simple-icons-x secondary scale-90"></Link>
  </div>
  <div class="mt-2">
    <Link href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="secondary">CC BY-NC-SA 4.0</Link>
    <span>2025–PRESENT</span>
    <span class="i-lucide-copyright scale-90" />
    <span>Zilong Liang</span>
    <span class="hidden sm:inline">
      <span class="i-lucide-dot" />
      <span>Built with <Link href="https://astro.build" class="secondary">Astro</Link></span>
    </span>
  </div>
  <div class="mt-1 sm:hidden">
    <span>Built with <Link href="https://astro.build" class="secondary">Astro</Link></span>
  </div>
</footer>
