---
import Link from "@/components/Link.astro"

import { siteTitle } from "@/utils/site"
---

<header class="flex items-center justify-between h-16">
  <div class="flex items-center gap-2">
    <Link href="/" class="nocolor flex items-center gap-2">
      <img src="/logo.png" alt="logo" class="size-6" />
      <strong>{siteTitle}</strong>
    </Link>
    <slot name="suffix" />
  </div>
  <div class="flex items-center gap-4">
    <Link href="/"><span class="i-lucide-house" /> 首页</Link>
  </div>
</header>
