---
import { Image } from "astro:assets"

import Link from "@/components/Link.astro"

import { siteTitle } from "@/utils/site"

import logo from "@/assets/images/logo.png"
---

<header class="flex items-center justify-between h-16 mb-10">
  <div class="flex items-center gap-2">
    <Link href="/" class="nocolor flex items-center gap-2">
      <Image src={logo} alt="logo" class="size-6" />
      <strong>{siteTitle}</strong>
    </Link>
    <slot name="suffix" />
  </div>
  <div class="flex items-center gap-4">
    <Link href="/"><span class="icon-[lucide--house]" /> Home</Link>
  </div>
</header>
