---
import Link from '@/components/Link.astro'

import { siteTitle } from '@/utils/site'
---

<header class="flex h-16 items-center justify-between print-hidden">
  <div class="flex gap-2 items-center">
    <Link href="/" class="nocolor flex gap-2 items-center">
      <img src="/logo.png" alt="logo" class="h-6 w-6" />
      <strong>{siteTitle}</strong>
    </Link>
    <slot name="suffix" />
  </div>
  <div class="flex gap-4 items-center">
    <Link href="/"><span class="i-lucide-house" /> 首页</Link>
  </div>
</header>
