---
import type { ImageMetadata } from 'astro'

import '@splidejs/splide/css/core'

const entries = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/profile-slide/*.jpg', { eager: true })
const images = Object.values(entries).map(entry => entry.default)
---

<div class="mx--4 pointer-events-none select-none">
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {images.map((image, index) => (
          <li class="splide__slide">
            <img src={image.src} alt={`Slide ${`${index + 1}`.padStart(2, '0')}`} class="h-48" />
          </li>
        ))}
      </ul>
    </div>
  </div>
</div>

<script>
import Splide from '@splidejs/splide'
import { AutoScroll } from '@splidejs/splide-extension-auto-scroll'

new Splide('.splide', {
  gap: '0.75rem',
  type: 'loop',
  autoWidth: true,
  arrows: false,
  pagination: false,
  drag: false,
  autoScroll: {
    speed: 0.5,
    pauseOnFocus: false,
    pauseOnHover: false,
  },
}).mount({ AutoScroll })
</script>
