---
import "@/styles/main.css"

import { ClientRouter } from "astro:transitions"
import Analytics from "@vercel/analytics/astro"
import SpeedInsights from "@vercel/speed-insights/astro"

import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"

import { getTitle, siteTitle, siteURL } from "@/utils/site"

interface Props {
  title?: string
}

const title = getTitle(Astro.props.title)
---

<!DOCTYPE html>
<html lang="zh-CN" transition:animate="none">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

  <!-- Inter -->
  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

  <!-- Open Graph -->
  <meta property="og:site_name" content={siteTitle} />
  <meta property="og:url" content={siteURL + Astro.url.pathname} />
  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />

  <!-- Title -->
  <title>{title}</title>

  <!-- Vercel -->
  <Analytics />
  <SpeedInsights />

  <!-- Router -->
  <ClientRouter />
</head>
<body>
  <div class="flex flex-col min-h-100dvh max-w-3xl m-auto px-6">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </div>
</body>
</html>
