---
interface Props {
  href?: string
  class?: string
}

const { href, class: classNames } = Astro.props
const external = href?.startsWith('http') || href?.startsWith('//')
---

<a
  href={href}
  class:list={classNames}
  {...(external ? { target: '_blank', rel: 'nofollow noopener noreferrer'} : {})}
>
  <slot />
</a>
