---
interface Props {
  href: string
  icon?: string
  class?: string
}

const { href, icon, class: classNames } = Astro.props

const isExternal = href.startsWith('http') || href.startsWith('//')
---

<a
  href={href}
  class:list={classNames}
  {...(isExternal ? { target: '_blank', rel: 'nofollow noopener noreferrer'} : {})}
>
  {icon && <span class={icon} />}
  <slot />
</a>
