---
interface Props {
  href?: string
  class?: string
  external?: boolean
}

const { href, class: className } = Astro.props
const external = Astro.props.external ?? (href?.startsWith("http") || href?.startsWith("//"))
---

<a
  href={href}
  class={className}
  {...(external ? { target: "_blank", rel: "nofollow noopener noreferrer" } : {})}
><slot /></a>
