---
import Section from "@/components/Section.astro"
import NoteItem from "@/components/NoteItem.astro"
import Pagination from "@/components/Pagination.astro"

import { groupNotesByDate } from "@/utils/content"
import { createI18n } from "@/utils/i18n"
import { cn } from "@/utils/style"

import type { Page } from "astro"
import type { CollectionEntry } from "astro:content"
import type { Lang } from "@/utils/i18n"

interface Props {
  notes: CollectionEntry<"notes">[]
  page?: Page
  lang?: Lang
}

const { notes, page, lang = "en" } = Astro.props
const grouped = await groupNotesByDate(notes)

const t = createI18n(lang)
---

<div class="space-y-6">
  {grouped.map(({ date, notes }) => (
    <Section title={t("ui.date", date)} lang={lang}>
      {notes.map((note, index) => (
        <div class={cn(index !== notes.length - 1 && "mb-6 pb-6 border-b-2 border-neutral-200 dark:border-neutral-800")}>
          <NoteItem note={note} lang={lang} />
        </div>
      ))}
    </Section>
  ))}
  {Boolean(page) && (
    <div class="pt-6 border-t-2 border-neutral-200 dark:border-neutral-800">
      <Pagination {...page!} lang={lang} />
    </div>
  )}
</div>
