---
import { format } from "date-fns"

import Section from "@/components/Section.astro"
import NoteItem from "@/components/NoteItem.astro"

import { groupNotesByDate } from "@/utils/content"
import { cn } from "@/utils/style"

import type { CollectionEntry } from "astro:content"

interface Props {
  notes: CollectionEntry<"notes">[]
}

const { notes } = Astro.props

const grouped = await groupNotesByDate(notes)
---

<div class="space-y-6">
  {grouped.map(({ date, notes }) => (
    <Section title={format(date, "PP")}>
      {notes.map((note, index) => (
        <div class={cn(index !== notes.length - 1 && "mb-6 pb-6 border-b-2 border-neutral-200 dark:border-neutral-800")}>
          <NoteItem note={note} />
        </div>
      ))}
    </Section>
  ))}
</div>
