---
interface Props {
  centered?: boolean
  class?: string
}

const { centered = false, class: className } = Astro.props
---
<div class:list={['mt-16 mb-12', className]}>
  <h1 class:list={['text-3xl font-600', centered && 'text-center']}><slot /></h1>
  {Astro.slots.has('subtitle') && (
    <div class:list={['mt-2 text-slate-500', centered && 'text-center']}>
      <slot name="subtitle" />
    </div>
  )}
</div>
