---
import Link from "@/components/Link.astro"

import { createI18n } from "@/utils/i18n"

import type { Page } from "astro"
import type { Lang } from "@/utils/i18n"

type Props = Page & {
  lang?: Lang
}

const { currentPage, lastPage, url, lang = "en" } = Astro.props

const t = createI18n(lang)
---

<div class="flex justify-end items-center text-sm gap-2">
  {Boolean(url.first || url.prev) && (
    <div>
      {url.first && <Link href={url.first}><span class="icon-[lucide--chevrons-left]" /></Link>}
      {url.prev && <Link href={url.prev}><span class="icon-[lucide--chevron-left]" /></Link>}
    </div>
  )}
  <div>{t("ui.pagination", { currentPage, lastPage })}</div>
  {Boolean(url.next || url.last) && (
    <div>
      {url.next && <Link href={url.next}><span class="icon-[lucide--chevron-right]" /></Link>}
      {url.last && <Link href={url.last}><span class="icon-[lucide--chevrons-right]" /></Link>}
    </div>
  )}
</div>
</div>
