---
import { render } from "astro:content"

import PageTitle from "@/components/PageTitle.astro"

import { createI18n } from "@/utils/i18n"

import type { CollectionEntry } from "astro:content"
import type { Lang } from "@/utils/i18n"

interface Props {
  post: CollectionEntry<"posts">
  lang?: Lang
}

const { post, lang = "en" } = Astro.props
const { Content } = await render(post)

const t = createI18n(lang)
---

<div class="post-content">
  <!-- Title -->
  <PageTitle>
    <Fragment>{post.data.title}</Fragment>
    <Fragment slot="subtitle">
      <span>{t("ui.date", post.data.created)}</span>
      {post.data.draft && <span class="ml-1 text-amber-600 dark:text-amber-400">{t("ui.draft")}</span>}
    </Fragment>
  </PageTitle>

  <!-- Content -->
  <div class="mb-4">
    <Content />
  </div>

  <!-- Date and link -->
  <div class="text-sm text-neutral-500"></div>
</div>
