---
import { getEntry, render } from "astro:content"
import { format } from "date-fns"

import PageTitle from "@/components/PageTitle.astro"
import PostTranslationLinks from "@/components/translations/PostTranslationLinks.astro"
import TranslationNoticeInPostsEn from "@/components/translations/TranslationNoticeInPostsEn.astro"
import TranslationNoticeInPostsZh from "@/components/translations/TranslationNoticeInPostsZh.astro"

import { cn } from "@/utils/style"
import { getTranslations, type Lang } from "@/utils/content"

import type { CollectionEntry } from "astro:content"

interface Props {
  post: CollectionEntry<"posts" | "translatedPosts">
  created: Date
  draft: boolean
}

const { post, created, draft } = Astro.props
const { Content } = await render(post)
const translations = post.collection === "posts" ? getTranslations(post) : []
const original = post.collection === "translatedPosts" ? await getEntry(post.data.original) : null

const TranslationNotice = ({
  "en": TranslationNoticeInPostsEn,
  "zh": TranslationNoticeInPostsZh,
} as const)[post.data.lang]
---

<div lang={post.data.lang} class={cn("post-content", post.data.lang)}>
  <!-- Title -->
  <PageTitle>
    <Fragment>{post.data.title}</Fragment>
    <Fragment slot="subtitle">
      <span>{format(created, "PP")}</span>
      {draft && <span class="ml-1 text-amber-600 dark:text-amber-400">Draft</span>}
    </Fragment>
  </PageTitle>

  <!-- Translations -->
  {translations.length > 0 && (
    <blockquote class="mb-12 leading-[1.7]">
      <PostTranslationLinks translations={translations} />
    </blockquote>
  )}
  {original && (
    <blockquote class="mb-12">
      <TranslationNotice original={original} />
    </blockquote>
  )}

  <!-- Content -->
  <div class="mb-4">
    <Content />
  </div>

  <!-- Date and link -->
  <div class="text-sm text-neutral-500"></div>
</div>
