---
import { render } from "astro:content"
import { format } from "date-fns"

import PageTitle from "@/components/PageTitle.astro"

import type { CollectionEntry } from "astro:content"

interface Props {
  post: CollectionEntry<"posts">  
}

const { post } = Astro.props
const { Content } = await render(post)
---

<div>
  <!-- Title -->
  <PageTitle>
    <Fragment>{post.data.title}</Fragment>
    <Fragment slot="subtitle">
      <Fragment>{format(post.data.created, "PP")}</Fragment>
      {post.data.draft && <span class="ml-1 text-amber-600 dark:text-amber-400">Draft</span>}
    </Fragment>
  </PageTitle>

  <!-- Content -->
  <div class="mb-4">
    <Content />
  </div>

  <!-- Date and link -->
  <div class="text-sm text-neutral-500"></div>
</div>
