---
import { createI18n } from "@/utils/i18n"
import { cn } from "@/utils/style"

import type { Lang } from "@/utils/i18n"

interface Props {
  title?: string
  lang?: Lang
  class?: string
}

const { title: rawTitle, lang = "en", class: className } = Astro.props

const t = createI18n(lang)

const title = rawTitle ?? t("ui.untitled")
---

<div class={cn(className)}>
  <div class="-mx-2 mb-6 px-2 py-1 bg-neutral-100 dark:bg-neutral-800 text-sm text-neutral-500">
    {Astro.slots.has("title") ? <slot name="title" /> : title}
  </div>
  <slot />
</div>
