---
interface Props {
  title?: string
}

const { title = "Untitled" } = Astro.props
---

<div>
  <div class="mb-6 px-2 py-1 bg-neutral-100 dark:bg-neutral-800 text-sm text-neutral-500">
    {title}
  </div>
  <slot />
</div>
