---
interface Props {
  title?: string
  class?: string
}

const { title, class: className } = Astro.props
---

<div class="my-8">
  <div class="text-sm text-slate-500 mb-2 pb-1 border-b border-slate-200"><slot name="title">{title}</slot></div>
  <div class:list={className}><slot /></div>
</div>
