---
interface Props {
  title?: string
  class?: string
}

const { title, class: className } = Astro.props
---

<div>
  <div class="mb-2 pb-1 border-b border-neutral-200 dark:border-neutral-700 text-sm text-neutral-500 dark:text-neutral-400"><slot name="title">{title}</slot></div>
  <div class:list={className}><slot /></div>
</div>
