---
import Layout from "@/components/Layout.astro"
import PageTitle from "@/components/PageTitle.astro"
import NoteList from "@/components/NoteList.astro"

import { notes, NOTES_PER_PAGE, tags } from "@/utils/content"
import { createI18n } from "@/utils/i18n"

import type { GetStaticPaths } from "astro"

export const getStaticPaths = (({ paginate }) => tags.flatMap((tag) => {
  const filteredNotes = notes.filter((note) => note.data.tags?.some((t) => t.slug === tag.slug))
  return paginate(filteredNotes, { params: { tag: tag.slug }, props: { tag }, pageSize: NOTES_PER_PAGE })
})) satisfies GetStaticPaths

const { tag, page } = Astro.props

const t = createI18n("en")

const title = t("notes.tags.pageTitle", tag.display)
---

<Layout title={title} lang="en">
  <!-- Title -->
  <PageTitle>
    <Fragment>{title}</Fragment>
    <Fragment slot="subtitle">{t("notes.total", page.total)}</Fragment>
  </PageTitle>

  <!-- Notes -->
  {page.data.length > 0 ? <NoteList notes={page.data} page={page} lang="en" /> : <p class="text-neutral-500">{t("notes.notFound")}</p>}
</Layout>
