---
import Section from "@zlliang/theme/components/Section.astro"
import SiteCard from "@zlliang/theme/components/SiteCard.astro"
import Layout from "@/components/Layout.astro"

import { renderFragment } from "@/utils/content"

const Bio = await renderFragment("bio-en")
---

<Layout lang="en">
  <div class="mb-12">
    <Bio />
  </div>

  {/* Journals */}
  <Section title="Journals">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <SiteCard site="mesh" lang="en" />
      <SiteCard site="muse" lang="en" />
    </div>
  </Section>
</Layout>
