---
import Layout from "@zlliang/theme/components/Layout.astro"
import Section from "@zlliang/theme/components/Section.astro"
import SiteCard from "@zlliang/theme/components/SiteCard.astro"

import { getLayoutProps } from "@/utils/site"
import { locales, t } from "@/utils/i18n"
import { renderFragment } from "@/utils/content"

const Bio = await renderFragment("bio-en")
---

<Layout {...getLayoutProps("en")}>
  <Fragment slot="menu">
    {locales.filter((l) => l !== "en").map((l) => <a href={`/${l}/`}><span class="icon-[lucide--languages]" /> {t(l, "desc")}</a>)}
  </Fragment>

  <div class="mb-12">
    <Bio />
  </div>

  {/* Journals */}
  <Section title="Journals">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <SiteCard site="mesh" lang="en" />
      <SiteCard site="muse" lang="en" />
    </div>
  </Section>
</Layout>
