---
import Section from "@zlliang/theme/components/Section.astro"
import HackCard from "@zlliang/theme/components/HackCard.astro"
import MuseCard from "@zlliang/theme/components/MuseCard.astro"
import Layout from "@/components/Layout.astro"

import { renderFragment } from "@/utils/content"

const Bio = await renderFragment("bio-en")
---

<Layout lang="en">
  <div class="mb-12">
    <Bio />
  </div>

  {/* Writing */}
  <Section title="Writing">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <HackCard lang="en" />
      <MuseCard lang="en" />
    </div>
  </Section>
</Layout>
