---
import Section from "@zlliang/theme/components/Section.astro"
import SiteCard from "@zlliang/theme/components/SiteCard.astro"
---

<Section title="我的另一面">
  <SiteCard site="mesh" locale="zh" />
</Section>
