@import "@zlliang/theme/main.css";

@source "../components/**/*.astro";
@source "../pages/**/*.astro";

@theme {
  --color-primary-50: var(--color-cyan-50);
  --color-primary-100: var(--color-cyan-100);
  --color-primary-200: var(--color-cyan-200);
  --color-primary-300: var(--color-cyan-300);
  --color-primary-400: var(--color-cyan-400);
  --color-primary-500: var(--color-cyan-500);
  --color-primary-600: var(--color-cyan-600);
  --color-primary-700: var(--color-cyan-700);
  --color-primary-800: var(--color-cyan-800);
  --color-primary-900: var(--color-cyan-900);
  --color-primary-950: var(--color-cyan-950);
}
