@import "@zlliang/theme/main.css";
@source "../../../../packages";

@theme {
  --color-primary-50: var(--color-muse-50);
  --color-primary-100: var(--color-muse-100);
  --color-primary-200: var(--color-muse-200);
  --color-primary-300: var(--color-muse-300);
  --color-primary-400: var(--color-muse-400);
  --color-primary-500: var(--color-muse-500);
  --color-primary-600: var(--color-muse-600);
  --color-primary-700: var(--color-muse-700);
  --color-primary-800: var(--color-muse-800);
  --color-primary-900: var(--color-muse-900);
  --color-primary-950: var(--color-muse-950);
}
