---
import Link from '@/components/Link.astro'
---

<footer class="mt-24 mb-8 text-sm text-center text-slate-400 print-hidden">
  <span>2025</span>
  <span class="i-lucide-copyright scale-90 translate-y-[0.5px]" />
  <span>梁子龙</span>
  <span class="i-lucide-dot" />
  <span>使用 <Link href="https://astro.build" class="text-slate-400">Astro</Link> 构建</span>
</footer>
