---
import { siteTitle } from '@/utils/site'

import Link from '@/components/Link.astro'
---

<header class="flex justify-between items-center h-16">
  <div class="flex items-center gap-2">
    <Link href="/" class="flex items-center gap-2 text-slate-900 hover:text-slate-900">
      <img src="/logo.png" alt="logo" class="w-6 h-6" />
      <strong>{siteTitle}</strong>
    </Link>
    <slot name="suffix" />
  </div>
  <div class="flex items-center gap-4">
    <Link href="/"><span class="i-lucide-house" /> 首页</Link>
    <Link href="/meals"><span class="i-lucide-beer" /> 一日三餐</Link>
  </div>
</header>
