---
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from '@vercel/speed-insights/astro'
import { siteURL, siteTitle, getTitle } from '@/utils/site'

import Header from '@/layouts/Header.astro'
import Footer from '@/layouts/Footer.astro'

import '@/styles/main.css'

interface Props {
  title?: string
  wide?: boolean
  class?: string
}

const title = getTitle(Astro.props.title)
const { wide = false, class: className } = Astro.props
---

<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

  <!-- Open Graph -->
  <meta property="og:site_name" content={siteTitle} />
  <meta property="og:url" content={siteURL + Astro.url.pathname} />
  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />

  <!-- Title -->
  <title>{title}</title>

  <!-- Vercel -->
  <Analytics />
  <SpeedInsights />
</head>
<body>
  <div class:list={['flex flex-col m-auto px-6 min-h-100dvh', wide ? 'max-w-6xl' : 'max-w-3xl', className]}>
    <Header>
      <slot name="header-suffix" slot="suffix" />
    </Header>
    <main class="flex-1">
      <slot />
    </main>
    <slot name="footer">
      <Footer />
    </slot>
  </div>
</body>
</html>
