code {
  color: #4a4a4a;
}

p, ul, ol {
  margin-top: 15px; 
  margin-bottom: 15px;
  line-height: 1.8em;
}

h1.post-title {
  font-weight: 500;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
