/* 
  highlight.js light style
  ------------------------
  XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>
*/
.hljs {
  display: block;
  overflow-x: auto;
  background: #fff;
  color: black;
}

/* Gray DOCTYPE selectors like WebKit */
.xml .hljs-meta {
  color: #c0c0c0;
}

.hljs-comment,
.hljs-quote {
  color: #007400;
}

.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #aa0d91;
}

.hljs-variable,
.hljs-template-variable {
  color: #3f6e74;
}

.hljs-code,
.hljs-string,
.hljs-meta-string {
  color: #c41a16;
}

.hljs-regexp,
.hljs-link {
  color: #0e0eff;
}

.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #1c00cf;
}

.hljs-section,
.hljs-meta {
  color: #643820;
}

.hljs-class .hljs-title,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #642aa7;
}

.hljs-attr {
  color: #836c28;
}

.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

/* 
  highlight.js dark style
  ------------------------
  Copyright (c) 2017-present Arctic Ice Studio <development@arcticicestudio.com>
  Copyright (c) 2017-present Sven Greb <development@svengreb.de>
  Project:    Nord highlight.js
  Version:    0.1.0
  Repository: https://github.com/arcticicestudio/nord-highlightjs
  License:    MIT
  References: https://github.com/arcticicestudio/nord
 */
@media (prefers-color-scheme: dark) {
  .hljs-class .hljs-title,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-params {
    color: #a789c9;
  }

  .hljs {
    display: block;
    overflow-x: auto;
  }

  .hljs,
  .hljs-subst {
    color: #d8dee9;
  }

  .hljs-selector-tag {
    color: #81a1c1;
  }

  .hljs-selector-id {
    color: #8fbcbb;
    font-weight: bold;
  }

  .hljs-selector-class {
    color: #8fbcbb;
  }

  .hljs-selector-attr {
    color: #8fbcbb;
  }

  .hljs-selector-pseudo {
    color: #88c0d0;
  }

  .hljs-addition {
    background-color: rgba(163, 190, 140, 0.5);
  }

  .hljs-deletion {
    background-color: rgba(191, 97, 106, 0.5);
  }

  .hljs-built_in,
  .hljs-type {
    color: #8fbcbb;
  }

  .hljs-class {
    color: #8fbcbb;
  }

  .hljs-function {
    color: #88c0d0;
  }

  .hljs-function > .hljs-title {
    color: #88c0d0;
  }

  .hljs-keyword,
  .hljs-literal,
  .hljs-symbol {
    color: #81a1c1;
  }

  .hljs-number {
    color: #b48ead;
  }

  .hljs-regexp {
    color: #ebcb8b;
  }

  .hljs-string {
    color: #a3be8c;
  }

  .hljs-title {
    color: #8fbcbb;
  }

  .hljs-params {
    color: #d8dee9;
  }

  .hljs-bullet {
    color: #81a1c1;
  }

  .hljs-code {
    color: #8fbcbb;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-formula {
    color: #8fbcbb;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link:hover {
    text-decoration: underline;
  }

  .hljs-quote {
    color: #4c566a;
  }

  .hljs-comment {
    color: #4c566a;
  }

  .hljs-doctag {
    color: #8fbcbb;
  }

  .hljs-meta,
  .hljs-meta-keyword {
    color: #5e81ac;
  }

  .hljs-meta-string {
    color: #a3be8c;
  }

  .hljs-attr {
    color: #8fbcbb;
  }

  .hljs-attribute {
    color: #d8dee9;
  }

  .hljs-builtin-name {
    color: #81a1c1;
  }

  .hljs-name {
    color: #81a1c1;
  }

  .hljs-section {
    color: #88c0d0;
  }

  .hljs-tag {
    color: #81a1c1;
  }

  .hljs-variable {
    color: #d8dee9;
  }

  .hljs-template-variable {
    color: #d8dee9;
  }

  .hljs-template-tag {
    color: #5e81ac;
  }

  .abnf .hljs-attribute {
    color: #88c0d0;
  }

  .abnf .hljs-symbol {
    color: #ebcb8b;
  }

  .apache .hljs-attribute {
    color: #88c0d0;
  }

  .apache .hljs-section {
    color: #81a1c1;
  }

  .arduino .hljs-built_in {
    color: #88c0d0;
  }

  .aspectj .hljs-meta {
    color: #d08770;
  }

  .aspectj > .hljs-title {
    color: #88c0d0;
  }

  .bnf .hljs-attribute {
    color: #8fbcbb;
  }

  .clojure .hljs-name {
    color: #88c0d0;
  }

  .clojure .hljs-symbol {
    color: #ebcb8b;
  }

  .coq .hljs-built_in {
    color: #88c0d0;
  }

  .cpp .hljs-meta-string {
    color: #8fbcbb;
  }

  .css .hljs-built_in {
    color: #88c0d0;
  }

  .css .hljs-keyword {
    color: #d08770;
  }

  .diff .hljs-meta {
    color: #8fbcbb;
  }

  .ebnf .hljs-attribute {
    color: #8fbcbb;
  }

  .glsl .hljs-built_in {
    color: #88c0d0;
  }

  .groovy .hljs-meta:not(:first-child) {
    color: #d08770;
  }

  .haxe .hljs-meta {
    color: #d08770;
  }

  .java .hljs-meta {
    color: #d08770;
  }

  .ldif .hljs-attribute {
    color: #8fbcbb;
  }

  .lisp .hljs-name {
    color: #88c0d0;
  }

  .lua .hljs-built_in {
    color: #88c0d0;
  }

  .moonscript .hljs-built_in {
    color: #88c0d0;
  }

  .nginx .hljs-attribute {
    color: #88c0d0;
  }

  .nginx .hljs-section {
    color: #5e81ac;
  }

  .pf .hljs-built_in {
    color: #88c0d0;
  }

  .processing .hljs-built_in {
    color: #88c0d0;
  }

  .scss .hljs-keyword {
    color: #81a1c1;
  }

  .stylus .hljs-keyword {
    color: #81a1c1;
  }

  .swift .hljs-meta {
    color: #d08770;
  }

  .vim .hljs-built_in {
    color: #88c0d0;
    font-style: italic;
  }

  .yaml .hljs-meta {
    color: #d08770;
  }
}
