pre, code {
  font-family: "Fira Code", "SF Mono", Consolas, Menlo, Courier New, Courier, monospace; }

p, ul, ol {
  line-height: 1.8; }

.katex-display {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden; }
